.background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.background-left {
  background-color: #ecbc76;
  width: 50%;
  height: 100%;
  position: relative;
}
.img-left {
  position: absolute;
  top: 100px;
  left: 30%;
}
.img-right {
  position: absolute;
  top: 100px;
  right: 10%;
}
.background-right {
  background-color: #f5f5f5;
  width: 50%;
  height: 100%;
}

.dialog-signin {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 440px;
  height: 640px;
  background: #ffffff;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
}
.signinForm {
  padding: 55px 44px;
}
.text-header {
  display: flex;
  justify-content: space-between;
}
.text-right p {
  font-size: 21px;
  font-weight: 400;
}
.text-right h1 {
  font-size: 55px;
  margin: 0;
  font-weight: 500;
}
.text-signup {
  color: #b87514;
  font-size: 15px;
}
.box-input {
  margin-top: 32px;
}
.box-input input {
  padding-left: 25px;
  margin-top: 13px;
  margin-bottom: 36px;
  width: 100%;
  height: 47px;
  border: 1px solid #adadad;
  border-radius: 9px;
}
.btn-signin {
  width: 100%;
  height: 50px;
  background: #e48700;
  box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
  border-radius: 10px;
  border: none;
  color: #fff;
}
